
@font-face {
  font-family: 'EmbassyBT-Regular';
  src: url('EmbassyBT-Regular.eot?#iefix') format('embedded-opentype'),  url('EmbassyBT-Regular.woff') format('woff'), url('EmbassyBT-Regular.ttf')  format('truetype'), url('EmbassyBT-Regular.svg#EmbassyBT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
